.imgContainer {

    height: 300px;
    width: 200px;
    background: linear-gradient( lightgray, darkgray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    box-shadow: 0px 4px 5px gray;
    filter: brightness(100%);
    transition: all 0.5s ease-in-out;

}

.noImg {
    width: 128px;
    height: 128px;
    opacity: 0.3;
}

.previewLabel {
    text-align: center;
    transform: translateY(0px);
    color: rgb(0, 0, 0);
    font-weight: 400;

    transition: all 0.5s ease-in-out;
}

.preview {
    width: 200px;
    height: 300px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-wrap: wrap;
    word-wrap: break-word;

    width: 200px;
    margin-right: 40px;

    scale: 1.0;
    transform: translateY(0px);
    animation: slideIn 0.5s ease-in-out;
    transition: scale 0.4s ease-in-out;

    opacity: 1.0;

    cursor: pointer;
}

.wrapper:hover {
    scale: 1.05;

    & {
        .imgContainer {
            filter: brightness(30%);
        }

        .previewLabel {
            transform: translateY(-180px);
            color: rgb(255, 255, 255);
            font-weight: 700;
        }
        
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
}

@keyframes contrastDown {
    0% {
        filter: contrast(100%);
    }
    100% {
        filter: contrast(20%);
    }
}

@keyframes labelUpDown {
    100% {
        transform: translateY(-180px);
    }
}