.wrapper {

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    background-color: #F27059;

    padding: 10px 25px;
    box-shadow: 0px 0px 10px #666666;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
    text-shadow: 0px 3px 2px #222222;

    width: fit-content;
    color: #ffffff;

    justify-self: flex-end;

    user-select: none;
    cursor: pointer;
    
}

.userIcon {
    height: 32px;
    width: 32px;

    cursor: pointer;

    border: 1px solid black;
    padding: 2px;
    border-radius: 16px;

}

.buttonsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.addMovie {
    width: 30px;
    height: 30px;

    border: none;
    border-radius: 30px;
    background-color: #6F1D1B;

    color: #FFF;
    font-size: 14pt;
    font-weight: 900;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;

    &::before {
        content: "+";
        position: relative;
        top: -1px;

    }
}

.addMovie:hover {
    transform: scale(1.3);
}
