.wrapper {
    margin: 30px 40px 80px 40px;

    font-family: 'Montserrat';
    text-decoration: none;
    
}

.title {

    color: #6F1D1B;
    letter-spacing: 1px;
}

.subtitle {

    font-weight: bold;
    color: #F4845F;
    width: 15%;
    display: block;
    border-bottom: 1px solid #6F1D1B;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.previews {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 50px;

}

.sadMessage {
    margin-top: 120px;
    font-size: 40pt;
    font-weight: bold;
    color: gray;

    animation: fadeIn 0.5s ease-in-out;
    user-select: none;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
}

